@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://browsecat.net/sites/default/files/netflix-background-128505-385500-4838617.png);
    font-family: 'Roboto' sans-serif;
    

}

